/* styles.css */

/* Estilos para el encabezado */
.w-full {
  width: 100%;
}

.h-16 {
  height: 4rem;
}

.w-2/3 {
  width: calc(66.666667%); 
  
  margin-left: auto;
  margin-right: auto;
}

.bg-blue-600 {
  background-color: #1E40AF;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.shadow-md {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.text-white {
  color: white;
}

.font-bold {
  font-weight: 700;
}

.text-4xl {
  font-size: 2.25rem;
}

/* Estilos para el contenido principal */
.bg-gray-200 {
  background-color: #EDF2F7;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.bg-white {
  background-color: white;
}

.border {
  border: 1px solid #D1D5DB;
}

.border-gray-300 {
  border-color: #D1D5DB;
}

.p-4 {
  padding: 1rem;
}

/* Estilos para el pie de página */
.h-8 {
  height: 2rem;
}

.shadow-lg {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.text-sm {
  font-size: 0.875rem;
}

.justify-end {
  justify-content: flex-end;
}
